/*
 * Google Fonts API
 */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700,700italic);

/* Available Fonts
 * font-family: 'Droid Serif', serif;
 */

a {
	color: #ff7a00;
}
a:hover,
a:focus {
	color: #CC6300;
}

#digitalArtHeader strong, #photoHeader strong {
	color: #ff7a00;
}
#digitalCategories li,
#photoCategories li{
	margin-left: 10px;
}

.btn-primary {
	color: #fff;
	background-color: #ff7a00;
	border-color: #E66F00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #E66F00;
	border-color: #CC6300;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #FFB066;
	border-color: #FFA34D;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #ff7a00;
}

.alert {
	margin-top: 30px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
h1 {
    font-size: 26px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
.footer .container {
	background-color: #F3F3F3;
}
.footer ul {
	margin: 0;
	text-transform: uppercase;
}
.footer li {
	padding: 0 0 0 1.5em;
}

/* header / navigation */
.navbar {
	background: none;
	border-width: 0;
	margin-bottom: 0;
	min-height: 60px
}
.navbar .container {
	background: #55260E;
}
.navbar-brand {
	padding: 2px 0 0 20px;
}

.navbar-brand img {
    height: 63px !important;
    width: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.faq-image-4 {
    margin-top: 20%;
}

@media (max-width: 768px) {
    .container > .navbar-header {
        height: 60px;
    }

    .faq-image-4 {
        margin-top: 0;
    }

}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #FBECE5;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #FBECE5;
	background-color: #954218;
}
.dropdown-menu {
	background-color: #954218;
	border: 0;
}
.dropdown-menu>li>a {
	color: #FBECE5;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #FBECE5;
	background-color: #C1551F;
}
.navbar-form {
	margin-top: 13px;
	margin-bottom: 13px;
}

/* #content */
#content {
	padding-bottom: 30px;
}

/* BEGIN slideshow styles */
#slideshow_container{
	margin: 0 -15px;
	max-height: 314px;
	overflow: hidden;
	position:relative;
	background: #55260e; /* Old browsers */
	background: -moz-linear-gradient(left,  #55260e 0%, #fe7800 20%, #fe7800 80%, #55260e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #55260e 0%,#fe7800 20%,#fe7800 80%,#55260e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #55260e 0%,#fe7800 20%,#fe7800 80%,#55260e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55260e', endColorstr='#55260e',GradientType=1 ); /* IE6-9 */

}
#slideshow_container div.slide {
	width: 100%;
        height:auto !important;
}
.slick-slider {
	margin-bottom: 0;
}
#slideshow_container .slick-dots {
	bottom: 0px;
}
#slideshow_container .slick-dots li button:before {
	font-size: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	content: "\2751";
    color: #ffffff;
}

#slideshow_container .slide {
	max-width: 1170px;
	width: 100%;
	font-family: "Droid Sans";
	font-weight: 700;
	color: #FFF;
}

#slideshow_container #slide1 .text,
.slick-cloned .text {
	float: left;
	padding: 2px;
	text-align: left;
	padding-left: 15.8vw;
	padding-right: 0;
	font-size: 48px;
	padding-top: 40px;
}

#slideshow_container #slide1 .image,
.slick-cloned .image{
	float: right;
	padding: 2px;
	padding-right: 14vw;
	padding-top: 25px;
}

#slideshow_container #slide1 .image img,
.slick-cloned .image img{
	height: auto !important;
	max-height: 250px;
	margin: 0 auto;
}

#slideshow_container #slide2 .text {
	float: right;
	margin: 0 auto;
	padding: 10px;
	padding-right: 15vw;
	text-align: left;
	font-size: 28px;
	padding-top: 30px;
}

#slideshow_container #slide2 .image {
	float: left;
	padding: 2px;
	padding-left: 12vw;
}

#slideshow_container #slide2 .image img {
	height: auto !important;
	max-height: 250px;
	margin: 0 auto;
	padding-top: 25px;
}

#slideshow_container #slide3 .top {
	width: 100%;
	font-size: 27px;
	text-align: center;
}
#slideshow_container #slide3 .left {
	width: 50%;
	float: left;
	font-size: 27px;
	padding: 10px;
	padding-left: 200px;
	margin: 0 auto;
}
#slideshow_container #slide3 .left .text {
	max-width: 288px;
	margin: 0 auto;
}
#slideshow_container #slide3 .right .text {
	max-width: 356px;
	margin: 0 auto;
}
#slideshow_container #slide3 img {
	height: auto !important;
	max-height: 125px;
	height: 15vw;
	margin: 10px auto;
}
#slideshow_container #slide3 .right {
	float: right;
	width: 50%;
	font-size: 27px;
	padding: 10px;
	padding-right: 200px;
	margin: 0 auto;
}

#slideshow_container #slide4 img {
	margin: 0 auto;
	height: auto !important;
	max-height: 150px;
	height: 15vw;
}
#slideshow_container #slide4 {
	font-size: 27px;
	padding-top: 25px;
}
#slideshow_container #slide4 .left {
	width: 50%;
	float: left;
	margin: 0 auto;
	padding: 10px;
	padding-left: 200px;
}
#slideshow_container #slide4 .right {
	width: 50%;
	float: right;
	margin: 0 auto;
	padding: 10px;
	padding-right: 200px;
}
#slideshow_container #slide4 .left .text {
	max-width: 272px;
	margin: 0 auto;
}
#slideshow_container #slide4 .right .text {
	max-width: 358px;
	margin: 0 auto;
}

#slideshow_container #slide5 img {
	margin: 0 auto;
	height: auto !important;
	max-height: 150px;
	height: 15vw;
}
#slideshow_container #slide5 {
	font-size: 27px;
	padding-top: 25px;
}
#slideshow_container #slide5 .left {
	width: 50%;
	float: left;
	margin: 0 auto;
	padding: 10px;
	padding-left: 200px;
}
#slideshow_container #slide5 .left img {
	max-height: 130px;
	margin-bottom: 20px;
}
#slideshow_container #slide5 .right {
	width: 50%;
	float: right;
	margin: 0 auto;
	padding: 10px;
	padding-right: 200px;
}
#slideshow_container #slide5 .left .text {
	max-width: 328px;
	margin: 0 auto;
}
#slideshow_container #slide5 .right .text {
	max-width: 345px;
	margin: 0 auto;
}

#slideshow_container #slide6 .image {
	float: left;
	margin: 0 auto;
	padding: 1px;
	padding-left: 15vw;
	padding-top: 30px;
	text-align: right;
}

#slideshow_container #slide6 .image img {
	margin: 0 auto;
}

#slideshow_container #slide6 .text {
	float: right;
	margin: 0 auto;
	padding: 10px;
	padding-right: 15vw;
	text-align: left;
	font-size: 30px;
    padding-top: 30px;
}

#slideshow_container #slide6 .text .darkText {
	color: rgb(102, 55, 0);
}

@media (max-width: 500px) {
	#content {
		margin-top: -10px;
	}
	#slideshow_container {
		max-height: 275px
	}
	#slideshow_container #slide1 .text,
	.slick-cloned .text{
		font-size: 6vw;
		padding-top: 0;
		padding: 0 25px;
	}
	#slideshow_container #slide1 .image img,
	.slick-cloned .image img {
		max-height: 40vw;
	}

	#slideshow_container #slide2 .text {
		font-size: 5.5vw;
		padding: 0 25px;
		line-height: 7vw;
	}
	#slideshow_container #slide2 .image {
                padding-top: 0px;
                padding: 10px;
	}
	#slideshow_container #slide2 .image img {
		max-height: 30vw;
	}

	#slideshow_container #slide3 img {
		max-height: 75px;
	}
	#slideshow_container #slide3 .left {
		font-size: 5vw;
		padding-left: 5vw;
	}
	#slideshow_container #slide3 .right {
		font-size: 5vw;
		padding-right: 5vw;
	}
	#slideshow_container #slide4 img {
		max-height: 100px;
                padding-top: 0px;
	}
	#slideshow_container #slide4 .left {
		font-size: 5vw;
		padding-left: 5vw;
	}
	#slideshow_container #slide4 .right {
		font-size: 5vw;
		padding-right: 5vw;
	}
	#slideshow_container #slide5 img {
		max-height: 100px;
	}
	#slideshow_container #slide5 .left {
		font-size: 5vw;
		padding-left: 5vw;
	}
	#slideshow_container #slide5 .left img {
		max-height: 88px;
		margin-bottom: 3vw;
	}
	#slideshow_container #slide5 .right {
		font-size: 5vw;
		padding-right: 5vw;
	}

	#slideshow_container #slide6 .text {
		font-size: 5vw;
		padding: 0 25px;
	}
	#slideshow_container #slide6 .image {
		padding: 10px;
		padding-left: 0;
	}
	#slideshow_container #slide6 .image img {
		max-height: 20vw;
	}
}

@media (min-width: 501px) and (max-width: 635px) {
	#slideshow_container #slide1 .text,
	.slick-cloned .text {
		font-size: 5vw;
		padding-top: 0;
		padding: 0 50px;
	}
	#slideshow_container #slide1 .image img,
	.slick-cloned .image img {
		max-height: 27vw;
	}

	#slideshow_container #slide2 .text {
		font-size: 4vw;
		padding: 0 50px;
		line-height: 5.5vw;
	}
	#slideshow_container #slide2 .image {
		padding: 10px;
	}
	#slideshow_container #slide2 .image img {
		max-height: 27vw;
	}

	#slideshow_container #slide3 .left {
		font-size: 24px;
		padding-left: 50px;
	}
	#slideshow_container #slide3 .right {
		font-size: 24px;
		padding-right: 50px;
	}
	#slideshow_container #slide3 .left img {
		max-height: 100px;
	}
	#slideshow_container #slide3 .right img {
		max-height: 100px;
	}

	#slideshow_container #slide4 .left {
		font-size: 24px;
		padding-left: 50px;
	}
	#slideshow_container #slide4 .right {
		font-size: 24px;
		padding-right: 50px;
	}
	#slideshow_container #slide4 .left img {
		max-height: 100px;
	}
	#slideshow_container #slide4 .right img {
		max-height: 100px;
	}

	#slideshow_container #slide5 .left {
		font-size: 24px;
		padding-left: 50px;
	}
	#slideshow_container #slide5 .right {
		font-size: 24px;
		padding-right: 50px;
	}
	#slideshow_container #slide5 .left img {
		max-height: 90px;
		margin-bottom: 10px;
	}
	#slideshow_container #slide5 .right img {
		max-height: 100px;
	}

	#slideshow_container #slide6 .text {
		font-size: 3.5vw;
		padding: 0 25px;
	}
	#slideshow_container #slide6 .image {
		padding-left: 0;
		float: none;
	}
	#slideshow_container #slide6 .image img {
		max-height: 27vw;
	}
}

@media (min-width: 636px) and (max-width: 767px) {
	#slideshow_container #slide1 .text,
	.slick-cloned .text {
		font-size: 5vw;
		padding-top: 0;
		padding: 0 50px;
	}
	#slideshow_container #slide1 .image img,
	.slick-cloned .image img {
		max-height: 25vw;
	}
	#slideshow_container #slide2 .text {
		font-size: 3.5vw;
		line-height: 5vw;
		padding: 0 50px;
	}
	#slideshow_container #slide2 .image {
		padding: 10px;
	}
	#slideshow_container #slide2 .image img {
		max-height: 24vw;
	}

	#slideshow_container #slide3 .left {
		font-size: 26px;
		padding-left: 25px;
	}
	#slideshow_container #slide3 .right {
		font-size: 26px;
		padding-right: 25px;
	}

	#slideshow_container #slide4 .left {
		font-size: 26px;
		padding-left: 25px;
	}
	#slideshow_container #slide4 .right {
		font-size: 26px;
		padding-right: 25px;
	}
	#slideshow_container #slide5 .left {
		font-size: 26px;
		padding-left: 25px;
	}
	#slideshow_container #slide5 .right {
		font-size: 26px;
		padding-right: 25px;
	}

	#slideshow_container #slide6 .text {
		font-size: 3.5vw;
		padding: 0 50px;
	}
	#slideshow_container #slide6 .image {
		float: none;
		padding-left: 0;
	}
	#slideshow_container #slide6 .image img {
		max-height: 20vw;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#slideshow_container #slide1 .text,
	.slick-cloned .text {
		font-size: 44px;
		padding-top: 40px;
		padding-left: 8vw;
	}
	#slideshow_container #slide2 .text {
		font-size: 3.2vw;
		line-height: 5vw;
		padding: 10px;
                padding-top: 40px;
		padding-right:5vw;
	}

	#slideshow_container #slide2 .image {
		padding-left: 5vw;
	}
	#slideshow_container #slide2 .image img {
		max-height: 25vw;
	}

	#slideshow_container #slide3 .left {
		font-size: 26px;
		padding-left: 75px;
	}
	#slideshow_container #slide3 .right {
		font-size: 26px;
		padding-right: 75px;
	}
	#slideshow_container #slide3 img {
		max-height: 85px;
	}

	#slideshow_container #slide4 .left {
		font-size: 26px;
                padding-top: 0px;
		padding-left: 75px;
	}
	#slideshow_container #slide4 .right {
		font-size: 26px;
                padding-top: 0px;
		padding-right: 75px;
	}

	#slideshow_container #slide5 .left {
		font-size: 26px;
                padding-top: 0px;
		padding-left: 75px;
	}
	#slideshow_container #slide5 .right {
		font-size: 26px;
                padding-top: 0px;
		padding-right: 75px;
	}

	#slideshow_container #slide6 .text {
		font-size: 25px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	#slideshow_container #slide1 .text,
	.slick-cloned .text {
		padding-top: 40px;
	}

	#slideshow_container #slide1 .image img,
	.slick-cloned .image img {
		max-height: 24vw;
	}

	#slideshow_container #slide2 .text {
		font-size: 32px;
		padding-right:5vw;
	}

	#slideshow_container #slide3 .left {
		padding-left: 125px;
	}
	#slideshow_container #slide3 .right {
		padding-right: 125px;
	}

	#slideshow_container #slide4 .left {
		padding-left: 125px;
	}
	#slideshow_container #slide4 .right {
		padding-right: 125px;
	}

	#slideshow_container #slide5 .left {
		padding-left: 125px;
	}
	#slideshow_container #slide5 .right {
		padding-right: 125px;
	}

	#slideshow_container #slide6 .text {
		font-size: 31px;
	}
}

@media (min-width: 1700px) {
	#slideshow_container #slide1 .text,
	.slick-cloned .text {
		padding-left: 13vw;
	}

	#slideshow_container #slide2 .text {
		padding-right: 12.5vw;
	}

	#slideshow_container #slide6 .text {
		padding-right: 12vw;
	}
}

/* END slideshow styles */

/* BEGIN callout styles */
.callouts {
	background: #f3f3f3;
	font-size: 18px;
	color: #ae4900;
	line-height: 26px;
}
.callouts div {
	padding: 10px 10px;
    line-height: 18px;
}
/* END callout styles */

.tagline {
	margin-top:30px;
	color: #ae4900;
	font-style: italic;
	font-family: 'Droid Serif', serif;
}

/* BEGIN pricepoint styles */
#pricepoints{
	margin: 30px 0;
	text-align: center;
}
#pricepoints a{
	display:inline-block;
	width:150px;
	height:90px;
	line-height: 90px;
	margin: 0 40px;
	background:url(../img/backgrounds/bak-pricepoint-large-off.png) no-repeat;
	font-family: Helvetica Light,Helvetica,Arial,Sans-serif;
	font-size:30px;
	color:#fff;
	text-align:center;
}
#pricepoints a:hover{
	color:#55260e;
}
/* END  pricepoint styles */

/* BEGIN browse */
#browse{
 background:url(../img/backgrounds/bak-vignette.png) center repeat-y #55260E;
 padding:20px 0;
 margin: 0 -15px 30px;
 text-align: center;
}
#browse a{
	display:inline-block;
	width:121px;
	height:73px;
	line-height: 73px;
	margin-right:30px;
	background:url(../img/backgrounds/bak-pricepoint-off.png) no-repeat;
	font-family: Helvetica Light,Helvetica,Arial,Sans-serif;
	font-size:30px;
	color:#fff;
	text-align:center;
}
#browse a.selected{
	background:url(../img/backgrounds/bak-pricepoint-on.png) no-repeat;
}
#browse .h2{
	font-size:36px;
	color:#fff;
	text-transform: uppercase;
	padding-right: 1em;
}

/* Gallery/browse */
.thumbnail {
	padding: 0;
	border: 0;
	min-height:222px;
	position:relative;
}
.thumbnail img {
	max-height: 150px;
	-moz-box-shadow: 6px 6px 8px #AAA;
	-webkit-box-shadow: 6px 6px 8px #AAA;
	box-shadow: 6px 6px 8px #AAA;
}
#artist-portfolio .thumbnail img {
    max-height: 100px;
}

.thumbnail .caption {
	text-align: center;
	color: #ff7a00;
	padding: 0;
	/*position:absolute;*/
	/*bottom:0;*/
	/*left:0;*/
	width:100%;
}
.thumbnail .caption h4 {
	margin-bottom:0;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	display:none!important;
	color:#fff;
	line-height: 0;
    z-index: 1010;
}
#preview img {
	max-width: 350px;
}

/* Photo details */
#photo-details {
	margin-top: 30px;
	margin-bottom: 30px;
}
#photo-details .preview {
	width: 100%;
	/*border: solid 1px #999;*/
}
#photo-details .affix {
	top: 30px;
}
#photo-details h1 {
	margin-top: 0;
}
#photo-details h2 {
    font-size: 22px;
}
#photo-details .panel-body {
	background: #F3F3F3;
}

#photo-details .btn-block {
    font-size: 28px;
    margin: 30px auto;
    padding: 2px;
    width: 80%;
}

#photo-details #share-buttons img {
    width: 45px;
}

#photo-details .panel-body p {
    font-size: 13px;
}

/* Artist portfolio */
#artist-portfolio .panel {
	margin-top: 30px;
}
#artist-portfolio .panel-body {
	background: #F3F3F3;
}
#artist-portfolio .panel img {
	width: 100%;
}
#artist-portfolio .thumbnail .artist {
	display: none;
}
#artist-portfolio .thumbnail {
	min-height:160px;
}

#artist-login {
	margin-top: 30px;
}

.galleryRow .col-sm-2 {
    height: 240px;
    max-height: 240px;
    min-height: 240px
}

.informationalRow {
    margin-top: 40px;
}

.informationalRow h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.informationalRow .informationalTitle {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 16px;
}

.preview {
    max-width: 100%;
}

.preview.portrait {
    /*max-width: 80%;*/
		max-width: 100%;
}

.informationWrap .col-xs-10 {
    margin: 0 60px;
}

ul#artist-tabs-nav.nav.nav-tabs {
	padding-left: 15px;
	border-bottom: 1px solid #666;
}

#artist-tabs-nav.nav-tabs>li>a {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px 15px;
	color: #555;
}

#artist-tabs-nav.nav-tabs>li.active>a,
#artist-tabs-nav.nav-tabs>li.active>a:hover,
#artist-tabs-nav.nav-tabs>li.active>a:focus {
	border-bottom: 1px solid #fff;
}

#artist-tabs .tab-pane {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 20px;
}

#artist-tabs label {
	display: inline;
	font-weight: normal;
	font-size: 14px;
	vertical-align: inherit;
}

#artist-tabs .required_mark {
	color: #f00;
	font-size: 14px;
        vertical-align:inherit;
        margin-right:1%;
}

#artist-tabs input,
#artist-tabs textarea {
	background-color: #f3fff6;
	border: 1px solid #666;
}

#artist-tabs input.btn-primary {
	background-color: #ddd;
	border: 1px solid #000;
	color: #000;
}

#artist-tabs input#file {
	background-color: #ddd;
	border: 1px solid black;
}

#artist-tabs .form-control {
	display: inline-block;
}

.form-control::-moz-placeholder{color:#d8d8d8 !important;}
.form-control::-webkit-placeholder{color:#d8d8d8!important;}
.form-control::-o-placeholder{color:#d8d8d8!important;}
.form-control::-placeholder{color:#d8d8d8!important;}

#artist-tabs input[type="radio"] {
        width:10px !important;
        height:10px !important;
}

#artist-tabs .formhint {
	color: #1ab22c;
}

#artist-tabs .formhint-bio {
	max-width: 500px;
	display: inline-block;
}

#artist-tabs #photos th {
	text-align: center;
	text-decoration: underline;
	font-size: 16px;
	font-weight: bold;
	border: none;
}

#artist-tabs #photos th span {
	font-size: 12px;
	font-weight: normal;
}

#artist-tabs #photos td {
	border: none;
}

#artist-tabs #photos td a {
	color: #2b46f6;
	border: none;
}

#artist-tabs #photos td a.editable-input {
	color: #000;
	border: none;
}

#artist-tabs #photos .editable-container.editable-inline {
	background-color: #fff;
	display: block;
	position: absolute;
}

#artist-tabs .error {
	color: #f00;
}

#artist-tabs input.error,
#artist-tabs textarea.error {
	border: 1px solid #f00;
}

.public-profile-photo img {
	width: 75%;
}

#artist-portfolio .artist-column {
	border-right: 1px solid #ddd;
}

#artist-portfolio h3 {
    font-size: 22px;
}

#artist-portfolio .public-profile-photo {
    margin-bottom: 15px;
}
.text-muted {
    line-height: 20px;
    padding: 10px 0 0 30px;
    font-size: 12px;
}

.footer li a span {
    text-transform: lowercase !important;
}

h4.title {
    font-size: 16px;
    line-height: 16px;
}

.caption p.artist {
    font-size: 13px;
    line-height: 13px;
}

.faq_question {
    padding-left: 20px;
    font-weight: bold;
}

.faq_answer {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.social-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.social-menu li {
    float: left;
    padding: 5px;
}

.social-menu li img {
    width: 20px;
    height: auto;
}

.nav>li>a {
    padding: 3px 15px;
}


@media (min-width: 320px) {
    .callouts div {
        padding: 10px 5px;
        font-size: 14px !important;
    }
}

@media (max-width: 480px) {
    .callouts div {
        padding: 10px 10px !important;
        font-size: 14px;
    }

    .container > .navbar-header {
        height: 40px;
    }

    .navbar-brand img {
        height: 45px !important;
    }

}

@media (max-width: 768px) {
    .callouts div {
        padding: 10px 10px !important;
        font-size: 14px;
    }
}

@media (max-width: 960px) {
    .callouts div {
        padding: 10px 20px !important;
    }
}

@media (min-width: 961px) {
    .callouts div {
        padding: 10px 30px !important;
    }
}

#browse h2,
#browse a {
    display: none;
}

#browse {
    visibility: hidden;
    height: 20px;
    margin: 0 !important;
    padding: 0;
}

/*Dropdown Menu*/
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

@media (min-width: 768px) {
	/*added by T Morphy */
	/*from http://www.barrykooij.com/bootstrap-submenu-open-on-mouse-over/ to get hover behaviour on desktop */
	ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
	ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
		display: none;
	}
	ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
		display: block;
	}
	.lead {
		font-size: 21px;
	}
}

.down-arrow {
	width: 0;
	height:0;
	border-top: 7px solid #ff7a00;;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;;
	display: inline-block;
}

.left-arrow {
	width: 0;
	height:0;
	border-left: 7px solid #ff7a00;;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;;
	display: inline-block;
}

ins>iframe {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.artist-column a {
	display: inline-block;
	word-wrap: break-word;
	max-width: 275px;
}
.glyphicon{
	top: 250px!important;
}